// -------------------------- */
// COLORS /
// -------------------------- */
$brand-color: #d2e603;
$background-color: #29bb89;
$light-green: #a1ecd2;
$dark-green: #1e6f5c;
$black-text: #4e4e4e;
$text-button: #f6f7d4;
$gray: #eeeeee;

// -------------------------- */
// FONT /
// -------------------------- */
$font-p: 1.125rem;
$font-h1: 3rem;
$font-h2: 1.5rem;
$font-icon: 2rem;
$font-small: 0.875rem;

$sen-font: "Sen", sans-serif;
$regular-sen: 400;
$bold-sen: 700;

$border-radius-large: 30px;
$border-radius-low: 8px;
