.pt-3 {
  padding-top: 3rem;
}

.pt-3_125 {
  padding-top: 3.125rem;
}

.pi-1 {
  padding-inline: 1rem;
}

.pi-1_875 {
  padding-inline: 1.875rem;
}

.pi-3 {
  padding-inline: 3rem;
}

.pbl-4 {
  padding-block: 4rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-1_5 {
  padding-bottom: 1.5rem;
}

.pb-3_125 {
  padding-bottom: 3.125rem;
}

.m-1 {
  margin: 1rem;
}

.mbl-1 {
  margin-block: 1rem;
}
