@import "variables";
@import "layout";

.-bold {
  font-weight: $bold-sen;
}

.-gray {
  background-color: $gray;
}

// -------------------------- */
// #HEADER /
// -------------------------- */
.header {
  position: relative;
  background-color: $background-color;
  background-image: url("https://raw.githubusercontent.com/jcamilodev1/crops/06d27e73823f810109cc5b052563c4e9f322277a/src/assets/bgheader.svg");
  @media (min-width: 700px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.header__title {
  font-size: $font-h1;
  font-weight: $bold-sen;
  color: $brand-color;
  @media (min-width: 700px) {
    font-size: 10rem;
  }
}

.text {
  color: $black-text;
  font-size: $font-p;
  &--big {
    font-size: $font-h2;
    font-weight: $bold-sen;
  }
  &--small {
    font-size: $font-small;
  }
  &--green {
    color: $dark-green;
  }
}

.button {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $dark-green;
  color: $text-button;
  font-size: $font-small;
  border-radius: $border-radius-large;
  z-index: 1;

  &--float {
    position: absolute;
    bottom: -20px;
    left: 20%;
    width: 60%;
  }
}

.section-tecnology {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: 700px) {
    flex-wrap: nowrap;

    &-box {
      max-width: 500px;
      margin-right: 1rem;
    }
  }
}

.section-farmer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $brand-color;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 290px;
  padding: 1rem;
  background-color: $dark-green;
  border-radius: $border-radius-low;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  &__title {
    color: $background-color;
  }

  &__text {
    color: $light-green;
  }
}

.icon-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icon {
  color: $text-button;
  font-size: $font-icon;
}

.bg-pattern-plant {
  position: absolute;
  top: 20px;
  left: 5px;
}

.bg-pattern-second-plant {
  position: absolute;
  top: -172px;
  right: 0;
}

.bg-pattern-third-plant {
  position: absolute;
  top: 158px;
  left: 0;
}

.bg-pattern-fourth-plant {
  position: absolute;
  right: 0;
  bottom: 228px;
}

.bg-pattern-fifth-plant {
  position: absolute;
  left: 0;
  bottom: 50px;
}

.bg-pattern-sixth-plant {
  position: absolute;
  top: 50px;
  right: 0;
}

.bg-pattern-seventh-plant {
  position: absolute;
  bottom: -140px;
  left: 0;
}
.carusel {
  padding: 15px;
  background-image: url("https://raw.githubusercontent.com/jcamilodev1/crops/e1945e1f0537dbd657972cde7e6772d5806544ab/src/assets/bg-swiper.svg");
  @media (min-width: 700px) {
    padding: 40px;
  }
  p {
    font-size: 22px;
    font-family: $sen-font;
    margin-bottom: 30px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 60%;
      padding: 20px;
      border: 2px solid #5fa348;
      border-radius: 20px;
      img {
        width: 80%;
        height: 80%;
      }
    }
  }
}
